@charset "UTF-8";
@import url("https://fonts.googleapis.com/css?family=Open+Sans|Roboto+Condensed:700&display=swap");
@font-face {
  font-family: "Gotham-Book";
  src: url("../fonts/Gotham-Book[2].eot");
  src: local("☺"), url("../fonts/Gotham-Book[2].woff") format("woff"), url("../fonts/Gotham-Book[2].ttf") format("truetype"), url("../fonts/Gotham-Book[2].svg") format("svg");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothaProBol.eot");
  src: local("☺"), url("../fonts/GothaProBol.woff") format("woff"), url("../fonts/GothaProBol.ttf") format("truetype"), url("../fonts/GothaProBol.svg") format("svg");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothaProMed.eot");
  src: local("☺"), url("../fonts/GothaProMed.woff") format("woff"), url("../fonts/GothaProMed.ttf") format("truetype"), url("../fonts/GothaProMed.svg") format("svg");
  font-weight: 500;
  font-style: normal;
}
/*Обнуление*/
* {
  padding: 0;
  margin: 0;
  border: 0;
}

*, *:before, *:after {
  box-sizing: border-box;
}

:focus, :active {
  outline: none;
}

a:focus, a:active {
  outline: none;
}

nav, footer, header, aside {
  display: block;
}

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input, button, textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a, a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/
body {
  font-family: "Gotham-Book";
  font-weight: 500;
  font-size: 15px;
}

.animated {
  opacity: 0;
}

.wrapper {
  background: url("../img/fullscreen.jpg") center/cover no-repeat fixed;
  color: #fff;
  height: 100%;
}

.header__nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header__logo {
  margin: 22px 0 18px 0;
}
.header__menu li {
  margin: 0 24px;
}
.header__menu li :hover {
  border-bottom: 5px solid #11749e;
}
.header__menu li a {
  color: #fff;
  font-size: 20px;
  padding: 40px 0;
}
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 15px;
}

.menu__list {
  display: flex;
}

.networks__list {
  list-style: none;
  display: flex;
}
.networks__list li {
  margin: 0 11px;
}
.networks__list a {
  color: #fff;
  font-size: 20px;
}

.home {
  height: 80%;
  border-top: 1px solid #7b7b7b;
  text-align: center;
}
.home__container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
.home__top {
  margin: 13% 0 0 0;
}
.home__title {
  font-size: 152.5px;
  font-family: "Gotham";
  font-weight: 700;
  text-transform: uppercase;
  margin: 0 0 10px 0;
}
.home__subtitle {
  font-family: "Gotham";
  font-weight: 500;
  font-size: 25px;
  color: #11749e;
  letter-spacing: 0.8em;
  text-transform: uppercase;
}
.home__bottom {
  margin: 0 0 8% 0;
}
.home__text {
  font-family: "Open Sans", sans-serif;
  font-size: 13px;
}
.home__arrow {
  position: relative;
  padding: 30px 0;
  width: 70px;
  height: 70px;
  border: 1px solid #fff;
  border-radius: 50%;
  animation: arrowDown 1s ease infinite alternate 0s;
}
.home__arrow a {
  padding: 25px;
}

@keyframes arrowDown {
  from {
    bottom: 0;
  }
  to {
    bottom: -50px;
  }
}
.feautures {
  background: #11749e;
  color: #fff;
  text-align: center;
  scroll-behavior: smooth;
}
.feautures__offer h2 {
  color: #fff;
}
.feautures__row {
  padding: 0 0 130px 0;
}
.row {
  display: flex;
  justify-content: space-between;
}

.offer {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 170px 0 140px 0;
}
.offer h2 {
  font-family: "Gotham";
  font-size: 37.5px;
  text-transform: uppercase;
}

.title {
  position: absolute;
  font-size: 247px;
  font-family: "Roboto Condensed", sans-serif;
  text-transform: uppercase;
  opacity: 15%;
}

.item {
  max-width: 270px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 15px 0 15px;
}
.item__img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 134px;
  height: 134px;
  background: #2e85aa;
  border-radius: 50%;
}
.item__subtitle {
  font-size: 18px;
  font-family: "Gotham";
  font-weight: 500;
  text-transform: uppercase;
  margin: 24px 0 34px 0;
}
.item__text {
  line-height: 2em;
}

.news {
  display: flex;
  flex-direction: column;
}
.news__row {
  display: flex;
  justify-content: center;
  background: #222;
  color: #fff;
}
.news__row_two {
  background: #f3f3f3;
  color: #222;
  flex-direction: row-reverse;
}
.news__note {
  display: flex;
  align-items: center;
}

.note__offer {
  max-width: 480px;
  height: auto;
  padding: 70px 0 0 0;
  margin: 0 115px 0 205px;
}
.note__offer_two {
  margin: 0 205px 0 115px;
}
.note__date {
  position: relative;
}
.note__date :after {
  content: "";
  height: 13px;
  width: 1px;
  background: #898989;
  display: inline-block;
  margin: 0 13px 0 13px;
}
.note__date :last-child:after {
  display: none;
}
.note__date ul {
  display: flex;
}
.note__date ul li a {
  font-size: 13px;
  color: #fff;
}
.note__date_two ul li a {
  font-size: 13px;
  color: #222;
}
.note__title {
  font-family: "Gotham";
  font-size: 25px;
  text-transform: uppercase;
  margin: 20px 0 30px 0;
}
.note__text {
  line-height: 2em;
}
.note__text p {
  margin: 0 0 35px 0;
}
.note__text span {
  margin: 0;
}
.note__img img {
  width: 100%;
  height: auto;
  max-width: 800px;
}

.blog {
  color: #222;
  text-align: center;
}
.blog__subtitle {
  font-size: 30px;
  margin: 0 0 75px 0;
}
.blog__row {
  margin: 0 0 115px 0;
}
.blog__item {
  margin: 0;
}
.blog__item-img :hover {
  box-shadow: 0 0 10px #11749e;
}
.blog__item-img img {
  width: 270px;
  height: 280px;
}
.blog__item-title {
  font-family: "Gotham";
  font-size: 18px;
  text-transform: uppercase;
  color: #11749e;
  margin: 43px 0 25px 0;
}
.blog__item-text {
  font-size: 15px;
  line-height: 1.8em;
}

.quick {
  background: #11749e;
  color: #fff;
}
.quick__row {
  padding: 109px 0 150px 0;
}
.quick__item {
  display: flex;
  max-width: 560px;
}
.quick__item-text {
  margin: 0 0 0 34px;
  line-height: 1.5em;
}

.key {
  background: #181818 url(../img/bg2.jpg) center/cover no-repeat fixed;
  color: #fff;
}
.key__row {
  padding: 100px 0;
}
.key__offer {
  width: 500px;
}
.key__title {
  font-size: 25px;
  font-family: "Gotham";
  text-transform: uppercase;
  margin: 125px 0 40px 0;
}
.key__text {
  line-height: 1.8em;
  margin: 0 0 70px 0;
}
.key__skills {
  text-transform: uppercase;
}
.key__skills li {
  background: #11749e;
  padding: 13px 0 13px 20px;
}
.key__skills :nth-child(1) {
  max-width: 370px;
  margin: 0 0 22px 0;
}
.key__skills :nth-child(2) {
  max-width: 400px;
  margin: 0 0 22px 0;
}
.key__skills :nth-child(3) {
  max-width: 430px;
}
.team {
  text-align: center;
}
.team__subtitle {
  font-size: 30px;
  margin: 0 0 70px 0;
}
.team__row {
  margin: 0 0 125px 0;
}
.team__item {
  position: relative;
}
.team__item-img img {
  max-width: 270px;
  width: 100%;
  height: auto;
}
.team__item-description {
  position: absolute;
  bottom: -20px;
  z-index: 10;
  background: #fff;
  width: 220px;
  padding: 25px 0 0 0;
}
.team__item-name {
  font-family: "Gotham";
  font-size: 20px;
  text-transform: uppercase;
  color: #11749e;
  margin: 0 0 15px 0;
}
.team__item-position {
  font-family: "Gotham";
  font-size: 15px;
}

.contact {
  background: #181818 url(../img/bg3.jpg) center/cover no-repeat fixed;
  color: #fff;
}
.contact__form {
  padding: 0 0 100px 0;
}
.contact__form textarea {
  width: 100%;
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  padding: 15px 0 0 20px;
  margin: 0 0 47px 0;
}
.contact__form ::placeholder {
  color: #fff;
}
.contact__input {
  display: flex;
  justify-content: space-between;
  margin: 0 0 40px 0;
}
.contact__input input {
  border: 1px solid #fff;
  background: transparent;
  color: #fff;
  width: 370px;
  padding: 15px 0 15px 20px;
}
.contact__input ::placeholder {
  color: #fff;
}
.contact__btn {
  display: block;
  width: 230px;
  height: 65px;
  font-family: "Gotham";
  font-size: 24px;
  color: #fff;
  text-transform: uppercase;
  background: #11749e;
  margin: 0 auto;
}

.map__map iframe {
  width: 100%;
  height: 335px;
}

.footer {
  background: #222;
  color: #fff;
}
.footer__offer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 115px;
}
.footer__copyrigth {
  font-size: 13px;
}
@media screen and (max-width: 1200px) {
  .container {
    width: 90%;
  }

  .header__logo img {
    width: 80%;
  }

  .menu__list li {
    margin: 0 3%;
  }
  .menu__list li a {
    font-size: 13px;
  }

  .networks__list li {
    margin: 0 5%;
  }

  .home__top {
    margin: 10% 0;
  }
  .home__title {
    font-size: 100px;
  }
  .home__subtitle {
    font-size: 18px;
  }
  .home__bottom {
    margin: 5% 0;
  }
  .home__arrow {
    margin: 0 auto;
    padding: 25% 0;
    width: 50px;
    height: 50px;
  }
  .home__arrow a {
    padding: 0;
  }

  .news__row {
    display: block;
  }
  .news__note {
    display: block;
    padding: 2% 0;
  }

  .note__offer {
    margin: 0 auto;
    padding: 5% 0;
  }
  .note__img {
    text-align: center;
  }

  .blog__row {
    flex-wrap: wrap;
    margin: 0;
  }
  .blog__item {
    margin: 2% 5%;
  }

  .quick__row {
    padding: 10% 0;
  }
  .quick__item {
    align-items: center;
    margin: 3%;
  }

  .team__item-description {
    width: 80%;
    padding: 5% 0;
  }
  .team__item-name {
    font-size: 15px;
  }
  .team__item-position {
    font-size: 12px;
  }
}
@media screen and (max-width: 992px) {
  .header__nav {
    display: block;
    padding: 1% 0;
  }
  .header__logo {
    display: none;
  }
  .header__menu ul {
    justify-content: space-between;
  }
  .header__menu ul li a {
    padding: 0;
    font-size: 12px;
  }
  .header__networks ul {
    justify-content: flex-end;
  }
  .header__networks ul li {
    margin: 1%;
  }

  .home__title {
    font-size: 70px;
  }
  .home__subtitle {
    font-size: 15px;
  }
  .home__arrow a img {
    margin: 0 0 10% 0;
  }

  .feautures__row {
    flex-wrap: wrap;
    padding: 0 0 8% 0;
  }
  .feautures__item {
    margin: 2%;
  }

  .blog__item {
    margin: 0 auto;
    padding: 1% 0;
  }

  .key__row {
    padding: 5% 0;
  }
  .key__title {
    margin: 10% 0;
  }
  .key__skills li {
    font-size: 12px;
  }
  .key__img img {
    width: 80%;
  }

  .team__row {
    margin: 0 0 10% 0;
  }

  .contact__form {
    padding: 0 0 10% 0;
  }
}
@media screen and (max-width: 768px) {
  .menu__list {
    flex-wrap: wrap;
  }
  .menu__list li {
    margin: 2% 6%;
  }

  .home__title {
    font-size: 50px;
    margin: 25% 0 0 0;
  }
  .home__subtitle {
    font-size: 10px;
  }
  .home__text {
    margin: 0 0 15% 0;
  }
  .home__arrow {
    animation: none !important;
  }

  .feautures__row {
    justify-content: center;
  }

  .news__note {
    padding: 5%;
  }

  .note__img {
    display: none;
  }

  .key__img {
    display: none;
  }

  .quick__row {
    flex-direction: column;
  }

  .team__row {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .team__item {
    margin: 5%;
  }

  .contact__input {
    display: block;
  }
  .contact__input input {
    width: 100%;
    margin: 1% 0;
  }

  .footer__offer {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}
@media screen and (max-width: 576px) {
  .menu__list li {
    margin: 2% 4%;
  }

  .quick__item-img {
    display: none;
  }
  .quick__item-text {
    margin: 10% 0;
  }
}
/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  .animated {
    opacity: 1;
  }

  .animated {
    /*CSS transitions*/
    transition-property: none !important;
    /*CSS transforms*/
    transform: none !important;
    /*CSS animations*/
    animation: none !important;
  }
}